#footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5c3f78;
  color: #f04e1f;
}

.foot-button {
  align-items: center;
}

.foot-button > button {
  margin: 0 auto;
}
