#navbar {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  width: 100%;
  /* margin-left: 5vw; */
  padding-top: 5px;
  margin-bottom: 10px;
  background-color: #5c3f78;
  color: #f04e1f;
}

#navbar > button {
  min-width: 75px;
  margin: 5px;
}
